<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
<connectionStrings>
        <add name="dataUrl" connectionString="http://www.us-central1-vivid-fragment-225620.cloudfunctions.net/getreports" />
        <add name="serviceMap" connectionString="https://us1.locationiq.com/v1/reverse.php?key={2}&amp;lat={0}&amp;lon={1}&amp;format=json" />
        <add name="serviceAutoComplit" connectionString="https://us1.locationiq.com/v1/autocomplete.php?key={0}&amp;q={1}"/>
        <add name="token" connectionString="dd141eb119249c" /> 
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Syncfusion.Licensing" publicKeyToken="632609b4d040f6b4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-17.4460.0.55" newVersion="17.4460.0.55" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>