<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <system.net>
    <defaultProxy enabled="false" useDefaultCredentials="false">
      <proxy/>
      <bypasslist/>
      <module/>
    </defaultProxy>
  </system.net>
    <connectionStrings>
        <add name="dataUrl" connectionString="http://www.us-central1-vivid-fragment-225620.cloudfunctions.net/getreports" />
        <add name="serviceMap" connectionString="https://us1.locationiq.com/v1/reverse.php?key={2}&amp;lat={0}&amp;lon={1}&amp;format=json" />
        <add name="token" connectionString="dd141eb119249c" /> 
  </connectionStrings>

</configuration>
